@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css?family=Livvic&display=swap');
@import url('https://fonts.googleapis.com/css?family=Zen+Kurenaido&display=swap');


:root {
    --primary-color: rgba(5, 38, 63, 0.97);
    --primary-color-no-alpha: rgb(39, 17, 38, 0.97);
    --secondary-color: #98ecda;
    --third-color: #b82601;
    --fourth-color: #f2f2f2f2;
}

p.names {
    font-family: 'Great Vibes';
    text-align: center;
    width:100%;
    font-size: 400%;
}

p.title {
    font-family:'Livvic';
    text-align: center;
    width:100%;
    font-size: xx-large;
}

body {
    font-family: 'Livvic';
    font-size: x-large;
    padding: 0px;
    margin: 0px;
}

.background {
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-size: cover; */
    /* background-position: center; */
    background-color: var(--primary-color-no-alpha);
    /* background-size: 1024px; */
    /* -webkit-background-size: 2000px; */
    /* transition: all 0.8s ease-in-out; */
    padding: 0px;
    margin: 0px;
}

.background:after{
    content:"";
    position:fixed; /* stretch a fixed position to the whole screen */
    top:0;
    height:100vh; /* fix for mobile browser address bar appearing disappearing */
    left:0;
    right:0;
    z-index:-1; /* needed to keep in the background */
    background: url('images/img1.jpg') center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.img1 {
    background-image: url('images/img1.jpg');
}

.img2 {
    background-image: url('images/img2.jpg');
}

.img3 {
    background-image: url('images/img3.jpg');
}

.img4 {
    background-image: url('images/img4.jpg');
}

h1 {
    font-family: 'Zen Kurenaido';
    text-align: center;
    font-size: 200%;
    color: var(--fourth-color);
}

hr {
    width:50%;
    margin:0 auto;
    color: var(--fourth-color);
}

h2 {
    font-family: 'Zen Kurenaido';
    font-style: italic;
}

.banner {
    color: var(--fourth-color);
    margin: 0px;
    padding: 20px;
    margin-bottom: 500px;
}

@media screen and (max-device-width: 480px) {
    .banner {
        width: 80%;
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media screen and (min-device-width: 480px) {
    .banner {
        width: 60%;
        padding-left: 20%;
        padding-right: 20%;
    }
}

.banner-not-first {
    background-color: var(--primary-color);

}

.banner-first {
    background-color: var(--primary-color-no-alpha);
}

.banner-last {
    background-color: var(--primary-color-no-alpha);
    margin-bottom: 0px;
}


.banner-inside {
    width: 100%;
}

a.link, a.link:hover, a.link:focus, a.link:active {
    color: var(--third-color);
    font-weight: bold;
    text-decoration: underline;
}

a.phone, a.phone:hover, a.phone:focus, a.phone:active {
    text-decoration:underline; 
    color: var(--secondary-color);
    font-weight: bold;
}

iframe {
    display:block;
    margin: 0 auto;
}

#list ol { 
    font-style:italic;
    font-size: 150%;
    color: var(--secondary-color); 
}
#list ol li {
    margin-left: 30px;
}
#list ol li p {
    padding:12px;
    font-style:normal;
    font-size: 66%;
    color: var(--fourth-color);  
    border-left: 1px solid var(--secondary-color);
    margin: 0;
    margin-left: 10px;
}
#list ol li p em { display: block; }
